@model CaveRegister.Models.Entrance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Entrance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cave.SasaCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cave.SasaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LasEditApplicationUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LasEditApplicationUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaFile.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaFile.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkFlow.EntityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFlow.EntityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
