@model System.Data.Entity.Spatial.DbGeography
@using System.Globalization
@if (Model != null) 
{
    
	<div class="editor-for-dbgeography">
		@Html.TextBox("", Model.Latitude.Value.ToString("G", CultureInfo.InvariantCulture) + "," + Model.Longitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line latlong", disabled = true, style = "display:none;" })
		Lat : @Html.TextBox(Html.NameForModel().ToHtmlString() + "_lat", Model.Latitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line latitude", disabled = true })
		Long: @Html.TextBox(Html.NameForModel().ToHtmlString() + "_long", Model.Longitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line longitude", disabled = true })
	</div>
}
else
{
	<text>
	@Html.TextBox("", "n/a", new { @class = "form-control text-box single-line latlong", disabled = true, style = "display:none;" })
	
	Lat : @Html.TextBox(Html.NameForModel().ToHtmlString() + "_lat", "n/a", new {disabled = true, @class = "form-control text-box single-line latitude" })
	Long: @Html.TextBox(Html.NameForModel().ToHtmlString() + "_long", "n/a", new {disabled = true, @class = "form-control text-box single-line longitude" })

	</text>
}
