@model CaveRegister.Models.Cave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cave</h4>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SasaCode)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SasaCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExplorationStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExplorationStatus.Description)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.CaveStatuses)
		</dt>
		<dd>
			@Html.Partial("_CaveStatus",Model.CaveStatuses)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CaveAttributes)
		</dt>
		<dd>
			@Html.Partial("_CaveAttribute", Model.CaveAttributes)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.Description)
        </dd>

        

      

        <dt>
            @Html.DisplayNameFor(model => model.Folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DbGeography_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbGeography_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elevation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandOwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandOwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandOwnerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandOwnerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandOwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandOwnerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DbGeography_LandOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbGeography_LandOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandOwnerDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandOwnerDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.LasEditApplicationUser)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LasEditApplicationUser.UserName)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaveID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
