@using  CaveRegister.MVCTableModels;
@model CaveRegister.Models.FilteredCavesViewModel
@{
	ViewBag.Title = "Caves Index";
	var table = Html.MvcTable(() => new CaveFilterTable());
}

<h2>Caves</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row-fluid">
	<div class="span6">
		<form class="mvc-table-filter">
			<fieldset>
				<legend>Filters</legend>
				<label class="control-label" for="inputEmail">Search Text:</label>
				@Html.TextBoxFor(m=> m.SearchText)
				<input type="submit" value="Search" class="btn btn-primary" />
				@if (User.IsInRole(CaveRegister.Model.Role.Admin)) {
					<input type="submit" value="Export" class="btn btn-primary" />
				}
			</fieldset>
		</form>
	</div>
	<div class="span4 offset1">
		<fieldset>
			@Html.CheckBoxFor(p => p.HideCodelessItems, new { @class = table.FilterClass })
			@Html.ListBoxFor(p => p.SelectedCaveStatuses, Model.CaveStatusSelectList, new { @class = table.FilterClass + " chosen" })
			@Html.ListBoxFor(p => p.SelectedCaveAttributes, Model.CaveAttributeSelectList, new { @class = table.FilterClass + " chosen" })
			@Html.DropDownListFor(m => m.SelectedExplorationStatus, Model.ExplorationStatusSelectList, new { @class = table.FilterClass + " chosen" })
			@Html.DropDownListFor(m => m.SelectedLocationStatus, Model.LocationStatusSelectList, new { @class = table.FilterClass + " chosen" })
		</fieldset>
	</div>
</div>


@table.Table()
@table.Pagination()
@table.PageSizer(5, 10, 15, 20)