@model CaveRegister.Models.ObservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Observed Cave-life at @Model.Model.VisitHistory.Cave.Name on @Model.Model.VisitHistory.VistitDate.ToString("yyyy-MM-dd")</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Observation</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Model.VisitHistoryID)


		<div class="form-group">
			@Html.LabelFor(model => model.Model.ObservableEntityID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("Model.ObservableEntityID", Model.ObservableEntitySelectList, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Model.ObservableEntityID, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model.Minimum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model.Minimum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Model.Minimum, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.Model.Maximum, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Model.Maximum, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Model.Maximum, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Model.ExactMeasurement, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Model.ExactMeasurement, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Model.ExactMeasurement, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Model.MeasurementString, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Model.MeasurementString, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Model.MeasurementString, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
