@model CaveRegister.Models.VisitHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitHistory</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.VistitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VistitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitHistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


