@model CaveRegister.Models.ObservableEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ObservableEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScientificName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LasEditApplicationUser_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LasEditApplicationUser_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ObservableEntityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
