@using CaveRegister.MVCTableModels;
@model CaveRegister.Models.CaveFilesModel
@{
    
	Layout = null;
	var table = Html.MvcTable(() => new CaveFileTable());
}

<h2 id="CaveFilesSection">Files</h2>
<p>
    @Html.ActionLink("New File", "Create", new { id = Model.CaveID })
</p>
@*@table.Table()
@table.Pagination()*@

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CaveFiles.FirstOrDefault().FileType.Description)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.CaveFiles.FirstOrDefault().Description)
		</th>
        <th>
            @Html.DisplayNameFor(model => model.CaveFiles.FirstOrDefault().LastEditDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CaveFiles) {
    <tr>
		<th>
			@Html.DisplayFor(model => item.FileType.Description)
		</th>						  
		<th>						  
			@Html.DisplayFor(model => item.Description)
		</th>						  
		<th>						  
			@Html.DisplayFor(model => item.LastEditDate)
		</th>						  
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.FileID  }, new {@class = "edit" })
            @Html.ActionLink(" ", "Delete", new { id=item.FileID }, new {@class="delete" })
        </td>
    </tr>
}

</table>
