@model System.Data.Entity.Spatial.DbGeography
@using System.Globalization
@if (Model != null)
{
	<div class="editor-for-dbgeography">
		@Html.TextBox(string.Empty, Model.Latitude.Value.ToString("G", CultureInfo.InvariantCulture) + "," + Model.Longitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line latlong", style="display:none;" })
		Lat : @Html.TextBox(Html.NameForModel().ToHtmlString() + "_lat", Model.Latitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line latitude" })
		Long: @Html.TextBox(Html.NameForModel().ToHtmlString() + "_long", Model.Longitude.Value.ToString("G", CultureInfo.InvariantCulture), new { @class = "form-control text-box single-line longitude" })
	</div>
}
else
{
	<div class="editor-for-dbgeography">
		@Html.TextBox(string.Empty, "", new { @class = "form-control text-box single-line latlong", style="display:none;" })
		Lat: @Html.TextBox(Html.NameForModel().ToHtmlString() + "_lat", "", new { @class = "form-control text-box single-line latitude" })
		Long: @Html.TextBox(Html.NameForModel().ToHtmlString() + "_long", "", new { @class = "form-control text-box single-line longitude" })
	</div>
}